.main {
    height: 100vh;
    padding: 4rem;
    background-color: tan;
}
.form{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    & input {
        width: 20rem;
        margin: 2rem;
    }
    & button {
        width: 20rem;
        font-size: 1.8rem;
        padding: 2rem;
        margin-top: 4rem;
    }
}