.main {
  display: flex;
}
.filters {
  height: 100vh;
  width: 20%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
//   align-items: flex-start;
  background-color: aquamarine;
}
.filaments {
  width: 60%;  
  padding: 3rem;
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.addSpace {
  width: 20%;
  background-color: black;
}
.dropdown_container {
  width: 100%;
}
