.main {
    display: flex;
}
.filters {
    height: 100vh;
    width: 20%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: aquamarine;
}
.filaments {
    width: 60%;
    height: 100vh;
    padding: 3rem;
    background-color: beige;
}
.addSpace {
    width: 20%;
    height: 100vh;
    background-color: black;
}